@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto:wght@100&family=Zen+Dots&display=swap");
@font-face {
    font-family: "Roboto-Medium";
    src: url(Roboto);
}

body {
    background: moccasin;
    background-image: url(./);
    : : : margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    /* majuscule */
    letter-spacing: 2px;
    font-size: 2.5rem;
    color: #581e75;
    text-shadow: 35px 30px 0px #9a9a17;
    text-align: center;
    /* centrer les textes*/
    font-family: "Roboto", serif;
}

main {
    background: whitesmoke;
    width: 85%;
    min-height: 700px;
    margin: 0 auto;
    padding: 10px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 12px 5px #9a9a17;
}

.positioning {
    border: 2px solid rgb(102, 155, 199);
}